<!DOCTYPE html>
<html lang="en">

<head>

  <title>Quiz Wizard</title>
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/question.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <%- include('partials/header') %>
</head>


<body class="mainpagebody">
    <div class="main-page-container">
    <div class="wizard-container">
      <img class="main_image"
        src="https://www.people-clipart.com/people_clipart_images/people_cartoon_wizard_in_sorcerers_robe_and_a_magic_wand_0521-1010-2714-0148_SMU.jpg">
      <div class="bubble"> Hey There! I'm Wiz, The Quiz Wizard. I'm Super Excited to See What Quizzes You Create. In the
        Meantime, Checkout Some Quizzes Other Users Have Created Below!
      </div>
    </div>

  <body>
   <div class="mainbody">

      <!-- Show public quiz sections -->
      <article class="quiz_questions">
        <div>
        <ul class="quiz_head">
          <li><b>Subject</b></li>
          <li><b>Description</b></li>
        </ul>
        </div>
        <div>
          <ul class="quiz_list">
            <% if (rows) { %>
              <% for (let row of rows) { %>
              <section class="quiz_body">
                <li id="subject"><%= row.subject %></li>
                <li id="description"><%= row.description %></li>
                  <!-- Start Quiz -->
                  <button id="startquiz-button" class="article_button" type="submit"><a href="/quizpage/<%= row.id %>" class="article_button">Start Quiz</a></button>
                  <!-- Share quiz -->
                  <button id="clipboardlink" class="clipboardbuttonOne" type="submit" onclick="alert('Copy the quiz link to share with a friend! Quiz URL:                     http://localhost:8080/quizpage/<%= row.id %>')">Share Quiz</button>

              </section>
            <% } %>
            <% } %>
            </ul>
          </div>

      </article>
  </body>
  </body>
</html>
